.signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    
}
h2{
    font-size: 40px;
    margin-left: 20px;
    
}



.buttonG{
    font-size: 25px;
    font-size: -50px;
    border-radius: 8px;
    width: 100%;
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    color: white;
    margin-left: 35%;
    
    
}
.button {
    
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    
  }
